<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opciones</title>
    <link rel="stylesheet" href="../static/css/opciones.css">
</head>

<body>
    <div class="contenedor">
        <div class="opcion">
            <div class="opcion-ctn">
                <a href="#" class="opcion-link" id="propietarios-btn">PROPIETARIOS</a>
            </div>
        </div>
        <div class="opcion">
            <div class="opcion-ctn">
                <a href="#" class="opcion-link">ACTAS</a>
            </div>
        </div>
        <div class="opcion">
            <div class="opcion-ctn">
                <a href="#" class="opcion-link">VOTACIONES</a>
            </div>
        </div>
        <div class="opcion">
            <div class="opcion-ctn">
                <a href="#" class="opcion-link">RESULTADOS</a>
            </div>
        </div>
    </div>
    <script src="../static/js/menu.js"></script>
</body>

</html>